/* @import url('https://fonts.googleapis.com/css2?family=Bungee&family=Bungee+Hairline&display=swap'); */

.container {
    background-image: url('./img/space2-05.png');
    background-size: contain;
    margin: 20px auto;
    width: 600px;
    height: 600px;
    position:relative;
    overflow: hidden;
    z-index: 2;
    user-select: none;
}
#score {
    padding: 10px;
    position:relative;
    text-align: center;
    height: 20px;
    width: 280px;
    border-radius: 20px;
    margin: 0 auto;
    line-height: 20px;
    font-family: 'Bungee', cursive;
    transition: 2s all;
    z-index: 3;
    background-color: white;
    user-select: none;
}
#score span {
    font-size: larger;
    color: red
}
.menu {
    position: relative;
    transition: 1s opacity;
    padding: 20px;
    width: 300px;
    margin: 220px auto;
    z-index: 8;
    border-radius: 52px;
    background-color: black;
    background-blend-mode: difference;
    font-family: 'Bungee', cursive;
    font-size: 64px;
    line-height: 68px;
    text-align: center;
    color: white;
    opacity: 0;
}
.menu:hover {
    animation: menuBlink 1s infinite alternate;
}
.menu:active {
    box-shadow: 0 0 30px rgb(244, 244, 135);
}
@keyframes menuBlink {
    from {
        color: white;
        transform: scale(100%);
    }
    to {
        color: yellow;
        transform: scale(110%);
    }
}

.gunny{
    width: 50px;
    height: 50px;
    position: absolute;
    top: -5px;
    left: -5px;
    transform: rotateZ(0deg);
    z-index: 7;
}
.gun {
    position: absolute;
    top: 280px;
    left: 280px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-image: url('./img/myShip-04.svg');
    transition: 4s all ease-out;
    box-shadow: 0 0 10px rgb(244, 244, 135);
    z-index: 6;
}
.bullet {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    box-shadow: 0 0 10px rgb(244, 244, 135);
    background-color: rgb(0, 0, 0);
    transition: all 15s ease-out;
}
.ship {
    background: rgb(137, 137, 137);
    position: absolute;
    transition: 4s all;
    border-radius: 50%;
    box-shadow: 0 0 10px rgb(255, 101, 101);
    
}
.shipRot {
    animation:shipRot .5s ease-in alternate infinite;
    transform-origin: center;
    height: 50px;
    width: 50px;
}
@keyframes shipRot{
    from{
        transform: rotateX(0deg);

    }
    to{
        transform: rotateX(30deg);
    }
}
#particles {
    background-color: black;
}
.explosion {
    position: absolute;
    height: 80px;
    width: 80px;
    z-index: 5;
    animation: explosion 1s;
    background-size: cover;
}
.bigEexplosion {
    position: absolute;
    height: 120px;
    width: 120px;
    z-index: 5;
    animation: explosion 1s;
    background-size: cover;
}
@keyframes explosion {
    0% {background-image: url('./img/explosion/x-01.png');}
    9% {background-image: url('./img/explosion/x-02.png');}
    18% {background-image: url('./img/explosion/x-03.png');}
    27% {background-image: url('./img/explosion/x-04.png');}
    36% {background-image: url('./img/explosion/x-05.png');}
    45% {background-image: url('./img/explosion/x-06.png');}
    54% {background-image: url('./img/explosion/x-07.png');}
    63% {background-image: url('./img/explosion/x-08.png');}
    72% {background-image: url('./img/explosion/x-09.png');}
    81% {background-image: url('./img/explosion/x-10.png');}
    90% {background-image: url('./img/explosion/x-11.png');}
    100% {background-image: url('./img/explosion/x-12.png');}
}
.tutorial {
    width: 600px;
    height: 600px;
    position:absolute;
    z-index: 3;
    user-select: none;
    background-color: white;
    opacity: 0;
    transition: 1s all ease-out;
    /* doesnt work^ */
}
.tutorial-text {
    box-sizing: border-box;
    width: 600px;
    font-family: 'Bungee', cursive;
    text-align: center;
    color: black;
    z-index: 5;
    position: absolute;
    top: 50px;
    font-size: 58px;
    line-height: 60px;
    padding: 50px;
    opacity: 0;
    transition: 1s all ease-out; 
    /* doesnt work^ */
}