/* @import url('https://fonts.googleapis.com/css2?family=Bungee&family=Bungee+Hairline&display=swap'); */

.container {
    background-image: url('./img/space2-05.png');
    background-size: contain;
    margin: 20px auto;
    width: 600px;
    height: 600px;
    position:relative;
    overflow: hidden;
    z-index: 2;
    user-select: none;
}
#score {
    padding: 10px;
    position:relative;
    text-align: center;
    height: 20px;
    width: 280px;
    border-radius: 20px;
    margin: 0 auto;
    line-height: 20px;
    font-family: 'Bungee', cursive;
    transition: 2s all;
    z-index: 3;
    background-color: white;
    user-select: none;
}
#score span {
    font-size: larger;
    color: red
}
.menu {
    position: relative;
    transition: 1s opacity;
    padding: 20px;
    width: 300px;
    margin: 220px auto;
    z-index: 3;
    border-radius: 52px;
    background-color: black;
    background-blend-mode: difference;
    font-family: 'Bungee', cursive;
    font-size: 64px;
    line-height: 68px;
    text-align: center;
    color: white;
    opacity: 0;
}
.menu:hover {
    animation: menuBlink 1s infinite alternate;
    /* transform: scale(120%); */
}
.menu:active {
    box-shadow: 0 0 30px rgb(244, 244, 135);
    /* background-color: red;
    transform: scale(90%) */
}
@keyframes menuBlink {
    from {
        color: white;
        transform: scale(100%);
    }
    to {
        color: yellow;
        transform: scale(110%);
    }
}
/* .crawler {
    position: absolute;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    background-color: cadetblue;
    transition: 15s all;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    
}
.arrowButtons {
    height: 30px;
    width: 30px;
    background-color: aquamarine;
}
.trash {
    position: absolute;
    height: 40px;
    width: 40px;
}
.star {
    position: absolute;
    height: 40px;
    width: 40px;
    transition: 1s all;
} */
.gunny{
    width: 50px;
    height: 50px;
    position: absolute;
    top: -5px;
    left: -5px;
    transform: rotateZ(0deg);
}
.gun {
    position: absolute;
    top: 280px;
    left: 280px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-image: url('./img/myShip-04.svg');
    transition: 4s all ease-out;
    box-shadow: 0 0 10px rgb(244, 244, 135);
    
    /* transition: all 15s; */
}
.bullet {
    position: absolute;
    /* top: 295px; */
    /* left: 295px; */
    width: 10px;
    height: 10px;
    border-radius: 50%;
    box-shadow: 0 0 10px rgb(244, 244, 135);
    /* background-image: url('./img/star-05.svg') repeat; */
    background-color: rgb(0, 0, 0);
    transition: all 15s ease-out;
    /* transition: ; */
}
.ship {
    background: rgb(137, 137, 137);
    position: absolute;
    transition: 4s all;
    border-radius: 50%;
    box-shadow: 0 0 10px rgb(255, 101, 101);
    
}
.shipRot {
    /* background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(246,58,1,1) 37%, rgba(0,212,255,1) 100%); */
    animation:shipRot .5s ease-in alternate infinite;
    transform-origin: center;
    height: 50px;
    width: 50px;
}
@keyframes shipRot{
    from{
        transform: rotateX(0deg);

    }
    to{
        transform: rotateX(30deg);
    }
}
#particles {
    background-color: black;
}
.explosion {
    position: absolute;
    height: 80px;
    width: 80px;
    z-index: 5;
    animation: explosion 1s;
    /* background-image: url('/img/explosion/Untitled-1-05.png'); */
    background-size: cover;
}
.bigEexplosion {
    position: absolute;
    height: 120px;
    width: 120px;
    z-index: 5;
    animation: explosion 1s;
    /* background-image: url('/img/explosion/Untitled-1-05.png'); */
    background-size: cover;
}
@keyframes explosion {
    0% {background-image: url('./img/explosion/x-01.png');}
    9% {background-image: url('./img/explosion/x-02.png');}
    18% {background-image: url('./img/explosion/x-03.png');}
    27% {background-image: url('./img/explosion/x-04.png');}
    36% {background-image: url('./img/explosion/x-05.png');}
    45% {background-image: url('./img/explosion/x-06.png');}
    54% {background-image: url('./img/explosion/x-07.png');}
    63% {background-image: url('./img/explosion/x-08.png');}
    72% {background-image: url('./img/explosion/x-09.png');}
    81% {background-image: url('./img/explosion/x-10.png');}
    90% {background-image: url('./img/explosion/x-11.png');}
    100% {background-image: url('./img/explosion/x-12.png');}
}